body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

section {
  min-height: auto;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-weight: inherit;
  font-size: 64px;
}
h2 {
  font-weight: inherit;
  font-size: 52px;
}
h3 {
  font-weight: inherit;
  font-size: 40px;
}
h4 {
  font-weight: inherit;
  font-size: 26px;
}
h5 {
  font-weight: inherit;
  font-size: 16px;
}

:root {
  --MAIN_COLOR: #ffffff;
  --SECOND_COLOR: #e9e2ec;
  --HOVER_COLOR: #e6bfdb;
  --ACCENT-COLOR: #9d5981;
  --TEXT_COLOR: #3d3d3d;
  --SECOND_TEXT_COLOR: #748aa1;
}
